# Ignorar arquivos e pastas do sistema operacional
Ambiente de Impressão/
Ambiente de Rede/
Configurações Locais/
Cookies/
Dados de Aplicativos/
Meus Documentos/
Documents/Meus Vídeos/
Documents/Minhas Imagens/
Documents/Minhas Músicas/
Menu Iniciar/
Modelos/
Recent/
SendTo/

# Ignorar arquivos comuns do sistema
*.log
*.dat
*.ini
*.blf
*.regtrans-ms
NTUSER.DAT
NTUSER.DAT*.TM.blf
NTUSER.DAT*.TMContainer*.regtrans-ms
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini

# Ignorar pastas do sistema operacional
AppData/
Contacts/
Desktop/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
Pictures/
ProcessExplorer/
Saved Games/
Searches/
Videos/

# Ignorar configurações do Git e IDEs
.vscode/
.gitconfig
.idlerc/
.ipython/
.jupyter/
.p2/

# Ignorar pastas específicas de ferramentas como anaconda, eclipse
.anaconda/
.cache/
.conda/
.continuum/
.eclipse/
